body{
    background: #FFF;
    padding:1%;
    font-size: 50px;
    text-align: center;
}

.button{
    font: bold 50px Arial;
    text-decoration: none;
    background-color: #150717;
    color: #FFF;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #0F0717;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #0F0717;
}

.cooler_settings, .sensor_data, .log_data{
    text-align: center;
}

.sensor_data h1{
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.67em;
}

.cooler_settings h3{
    font-size: 1.17em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

#g1,
#g2,
#g3,
#g4 {
    width: 400px;
    height: 320px;
    display: inline-block;
    margin: 1em;
}

img{
    display: inline-block
}

.forecast h3{
    font-size: 1.17em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

.forecast h2{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

.forecast h6{
    font-size: 0.25em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.forecastHeader{
    margin-bottom: 5px;
    font-size: 1.5em;
}

.currentConditionsLeft{
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 30%;
}

.currentForecast{
    display: inline-block;
}

.currentTemperature{
    display: inline-block;
    padding-left: 5px;
}

.currentTemperature h3{
    margin-top: 0em;
    margin-bottom: 0em;
}

.currentConditionsRight{
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 30%;
}

.forecast h4{
    display: block;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.forecast p{
    font-size: 30px;
}

.currentConditionsRight p{
    font-size: 30px;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

canvas{
    padding: 0;
    margin: auto;
    display: block;
    width: 900px;
    height: 300px;
}

.upcomingConditions{
    margin-top: 10px;
}

.firstUpcomingDay{
    display: inline-block;
    width: 7%;
    border-left: solid 1px slategrey;
    border-right: solid 1px slategrey;
}

.upcomingDay{
    display: inline-block;
    width: 7%;
    border-right: solid 1px slategrey;
}

.highTemp{
    display: inline;
}

.lowTemp{
    display: inline;
}

.log_data h3{
    font-size: 1.17em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

.log_data h4{
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.currentSelection {
    color: #1E90FF;
    font-size: 1.25em;
}

.desiredTemperature{
    display: block;
}

#desiredTemp{
    width: 50%;
}

#desiredTemperatureValue{
    margin-top: 5px;
    text-align: center;
    width: 10%;
    border: none;
    border-color: transparent;
}

.cooler_settings_table{
    text-align: center;
    color: #FF0000;
}

.qr_code h2{
    text-align: center;
    font-size: 1.0em;
    font-weight: bold;
}

.qr_code img{
    width: 20%;
}

option{
    font-size:50px;
}

.coolerSettingSubmit{
    font-size:50px;
}

.numDaysSubmit{
    font-size:50px;
}

.cooler_settings_log_button{
    font-size: 50px;
}

.forecastHeader img{
    width: 100px;
}

.log_data img{
    width: 49%;
}

@media screen and (max-width: 480px)
{ 
    body{
        background: #FFF;
        padding:1%;
        font-size: 50px;
        text-align: center;
    }
    
    .qr_code h2{
        text-align: center;
        font-size: 0.4em;
        font-weight: bold;
    }
    
    .qr_code img{
        width: 40%;
    }
    
    
    
    .sensor_data h1{
        font-size: 0.7em;
        font-weight: bold;
        margin-top: 0.67em;
    }
    
    #g1,
    #g2,
    #g3,
    #g4 {
        width: 3.2em;
        height: 2.56em;
        display: inline-block;
        margin: 0px;
    }
    
    .sensor_data a{
        font-size: 0.5em;
    }
    
    .cooler_settings h3{
        text-align: center;
        font-size: 0.4em;
        font-weight: bold;
        margin-bottom: 1em;
    }
    
    #coolerSetting{
        width: 50%;
        height: 1.5em;
        font-size: 0.4em;
    }
    
    option{
        font-size: 0.4em;
    }

    .coolerSettingSubmit{
        font-size: 0.4em;
    }
    
    #desiredTemperatureValue{
        font-size: 0.4em;
        width: 20%;
    }
    
    .cooler_settings_log_button{
        font-size: 0.4em;
    }

    .numDaysSubmit{
        font-size: 0.4em;
    }
    
    .forecast h3{
        text-align: center;
        font-size: 0.4em;
        font-weight: bold;
    }
    
    .forecast img{
        width: 100%;
    }
    
    .forecast h4{
        display: block;
        font-size: 0.22em;
        font-weight: bold;
    }

    .forecast p{
        font-size: 0.22em;
    }
    
    .forecastHeader{
        display: flex;
    }
    
    .currentConditionsLeft{
        display: flex;
        flex: 4;
    }
    
    .currentForecast{
        display: flex;
        flex: 6;
        width: 100%;
        padding: 0px 0px 15px 0px;
    }
    
    .currentTemperature{
        flex: 4;
        width: 100%;
        text-align: left;
    }
    
    .currentTemperature h3{
        font-size: 0.3em;
        font-weight: bold;
        margin: 0px;
    }
    
    .currentConditionsRight{
        flex: 6;
        padding: 0px 5px 0px 0px;
    }
    
    #forecastChart{
        width: 100%;
        height: 100%;
    }
    
    .upcomingConditions{
        display: flex;
    }
    
    .firstUpcomingDay{
        flex: 1;
    }
    
    .upcomingDay{
        flex: 1;
    }
    
    .log_data h3{
        text-align: center;
        font-size: 0.4em;
        font-weight: bold;
    }
    
    #numDays{
        font-size: 0.4em;
    }
    
    .log_data img{
        width: 100%;
        height: 100%;
    }
    
}
