{% extends "base.html" %}

{% block content %}
<section id="startCooler">
    <div class="container py-5 mx-auto">
        <form method="POST">
            <div class="row">
                <div class="col-md-2 col-3 col-lg-1 text-left">
                    <h6>Auto</h6>
                </div>
                <div class="col-md-3 col-6 text-left">
                    <div class="toggles">
                        <input type="checkbox" name="auto" id="auto" class="ios-toggle checkbox" onclick="AutoCheck()" value="{{autoOn}}" {{'checked="checked"' if autoOn else ""}}/>
                        <label for="auto" class="checkbox-label"></label>
                    </div>
                </div>
                <div class="col text-right">
                    <button class="btn" type="submit" onclick="StartStopCooler()" id="startStopButton"></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-3 col-lg-1 text-left">
                    <h6>Manual</h6>
                </div>
                <div class="col-md-3 col-6 text-left">
                    <div class="toggles">
                        <input type="checkbox" name="manual" id="manual" class="ios-toggle checkbox" onclick="ManualCheck()" value="{{manualOn}}" {{'checked="checked"' if manualOn else ""}}/>
                        <label for="manual" class="checkbox-label"></label>
                    </div>
                </div>
                <div class="col text-right">
                    <a href="{{url_for('index')}}" class="btn btn-secondary cancelButton">Cancel</a>
                </div>
            </div>
            <div class="row pt-3" id="highFanRow">
                <div class="col-sm-1 col-2"></div>
                <div class="col-md-1 col-2 text-left">
                    <h6>High Fan</h6>
                </div>
                <div class="col-md-4 col-6 text-left">
                    <div class="toggles">
                        <input type="checkbox" name="highFan" id="highFan" class="ios-toggle checkbox small-checkbox" onclick="HighFanCheck()" value="{{highFanOn}}" {{'checked="checked"' if highFanOn else ""}}/>
                        <label for="highFan" class="checkbox-label checkbox-label-small"></label>
                    </div>
                </div>
            </div>
            <div class="row" id="lowFanRow">
                <div class="col-sm-1 col-2"></div>
                <div class="col-md-1 col-2 text-left">
                    <h6>Low Fan</h6>
                </div>
                <div class="col-md-4 col-6 text-left">
                    <div class="toggles">
                        <input type="checkbox" name="lowFan" id="lowFan" class="ios-toggle checkbox small-checkbox" onclick="LowFanCheck()" value="{{lowFanOn}}" {{'checked="checked"' if lowFanOn else ""}}/>
                        <label for="lowFan" class="checkbox-label checkbox-label-small"></label>
                    </div>
                </div>
            </div>
            <div class="row" id="pumpRow">
                <div class="col-sm-1 col-2"></div>
                <div class="col-md-1 col-2 text-left">
                    <h6>Pump</h6>
                </div>
                <div class="col-md-4 col-6 text-left">
                    <div class="toggles">
                        <input type="checkbox" name="pump" id="pump" class="ios-toggle checkbox" value="{{pumpOn}}" {{'checked="checked"' if pumpOn else ""}}/>
                        <label for="pump" class="checkbox-label checkbox-label-small"></label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script>

    window.onload = LoadPage();

    function AutoCheck(){

        if(document.getElementById("auto").checked)
        {
            document.getElementById("manual").checked = false;
            document.getElementById("highFanRow").classList.add("d-none");
            document.getElementById("lowFanRow").classList.add("d-none");
            document.getElementById("pumpRow").classList.add("d-none");
        }
    }

    function HighFanCheck(){
        if(document.getElementById("highFan").checked)
            document.getElementById("lowFan").checked = false;
    }

    function LoadPage(){
        
        var coolerRunning = '{{ coolerRunning }}';

        if(coolerRunning == "True")
        {
            console.log("STOP");
            document.getElementById("startStopButton").classList.add("btn-danger");
            document.getElementById("startStopButton").textContent = "Stop";
        }
        else
        {   
            console.log("START");
            document.getElementById("startStopButton").classList.add("btn-success");
            document.getElementById("startStopButton").textContent = "Start";
        }

        ManualCheck();
    }

    function LowFanCheck(){
        if(document.getElementById("lowFan").checked)
            document.getElementById("highFan").checked = false;
    }

    function ManualCheck(){

        if(document.getElementById("manual").checked)
        {
            document.getElementById("auto").checked = false;
            document.getElementById("highFanRow").classList.remove("d-none");
            document.getElementById("lowFanRow").classList.remove("d-none");
            document.getElementById("pumpRow").classList.remove("d-none");
        }
        else
        {
            document.getElementById("highFanRow").classList.add("d-none");
            document.getElementById("lowFanRow").classList.add("d-none");
            document.getElementById("pumpRow").classList.add("d-none");
        }

        //Need to add functionality to enable and disable fans and pump switches. 
    }

    function StartStopCooler(){

        if(document.getElementById("startStopButton").classList.contains("btn-success"))
        {
            document.getElementById("startStopButton").classList.remove("btn-success");
            document.getElementById("startStopButton").classList.add("btn-danger");
            document.getElementById("startStopButton").textContent = "Stop";

            //Set coolerRunning to "True"
        }
        else
        {
            document.getElementById("startStopButton").classList.add("btn-success");
            document.getElementById("startStopButton").classList.remove("btn-danger");
            document.getElementById("startStopButton").textContent = "Start";
        }
    }
    
</script>

{% endblock %}

