{% extends "base.html" %}

{% block content %}
<section id="home">
    <div class="container py-5 mx-auto">
        <div class="row">
            <div class="col-6">
                <a class="btn btn-primary py-5 mb-2 btn-block" href="">Cooler</a>
                <a class="btn btn-info py-5 mt-2 btn-block" href="">Interval</a>
            </div>
            <div class="col-6">
                <a class="btn btn-secondary py-5 mb-2 btn-block" href="">Timed</a>
                <a class="btn btn-success py-5 mt-2 btn-block" href="/log">Log</a>  
            </div>
        </div>
    </div>
</section>


{% endblock %}

