{% extends "base.html" %}

{% block header %}

<script src="static/Chart.min.js"></script>
<meta http-equiv="refresh" content="300">

{% endblock %}

{% block content %}
  <div class="qr_code">
     <h2> Connect personal devices to cooler by first connecting </h2>
     <h2> devices to same Wifi network as cooler. </h2>
     <h2> Then, scan QR code below to access this page on your phone. </h2>
     <h2> Or type this IP address in any browser search bar: {{ ip_addr }} </h2>
     <img src="/qr_code" alt="Image Placeholder">
  </div>
  <div class="sensor_data" style="display: block;">
    <h1> Inside Sensor Data </h1>
    <div id="g3"></div>
    <div id="g4"></div>
    <br>
    <span><a href="/"class="button">{{ time_roof }}</a></span>
  </div>
  <div class="sensor_data" style="display: block;">
    <h1> Outside Sensor Data </h1>
    <div id="g1"></div>
    <div id="g2"></div>
    <br>
    <span><a href="/"class="button">{{ time_home }}</a></span>		
  </div>
    <hr>
  <div class="cooler_settings">
	<br>
	<h3>Current Cooler Setting: <span class="currentSelection">{{ cooler_setting }}</span></h3>
	<h3>Change Cooler Setting:</h3>
	    <form method="POST">
  	    <label for="coolerSetting"></label>
  		<select id="coolerSetting" name="coolerSetting">
		    <option value="Off">Off</option>
		    <option value="Auto">Auto</option>
		    <option value="Fan Hi">Fan Hi</option>
		    <option value="Fan Lo">Fan Lo</option>
		    <option value="Fan Hi (w/Pump)">Fan Hi (w/Pump)</option>
		    <option value="Fan Lo (w/Pump)">Fan Lo (w/Pump)</option>
		    <option value="Pump">Pump</option>
		</select>
  		<input class="coolerSettingSubmit" type="submit"/>
		<div class="desiredTemperature">
            <h3>Set Auto Temperature (°F):</h3>
		    <input id="desiredTemp" name="desiredTemperature" type="range" min="55" max="95" step="1" oninput="GetDesiredTemperatureValue(this.value);">
		    <input type="text" id="desiredTemperatureValue" value="{{ desired_temp }}" readonly>
		</div>
	    </form>
	<br>
	<form>
  	    <button class="cooler_settings_log_button" formaction="cooler_settings_log">See Cooler Settings History</button>
	</form>
	<br> 
	<br>
   </div>
	<hr>
   <section class="forecast">
    <h3>Upcoming Forecast</h3>
    <div class='forecastHeader'>
        <div class='currentConditionsLeft'>
            <div class="currentForecast">
                <img src="{{currentIcon}}">
            </div>
            <div class="currentTemperature">
                <h3>{{currentTemperature}}° F</h3>
            </div>
        </div>
        <div class='currentConditionsRight'>
            <h4>{{cityAndState}}</h4>
            <p>{{currentDate}}, {{currentCommonTime}}</p>
            <p>{{currentForecast}}</p>
        </div>
    </div>
    <div class='forecastCanvas'>
        <canvas id="forecastChart" ></canvas>
    </div>
    <div class='upcomingConditions'>
        <div class="firstUpcomingDay">
            <p>{{upcomingWeekWeatherData[0][0]}}</p>
            <p><strong>{{upcomingWeekWeatherData[0][1]}}° F</strong></p>
            <p>{{upcomingWeekWeatherData[0][2]}}° F</p>
        </div>
        {% for i in range(1, upcomingWeekLength)%}
        <div class="upcomingDay">
            <p>{{upcomingWeekWeatherData[i][0]}}</p>
            <p><strong>{{upcomingWeekWeatherData[i][1]}}° F</strong></p>
            <p>{{upcomingWeekWeatherData[i][2]}}° F</p>
        </div>
        {% endfor %}
    </div>
   </section>
	<hr>
   <div class="log_data">
	<br>
	<h3> Showing last <span class="currentSelection">{{ num_days }}</span> day(s) of temperature/humidity readings </h3>
	<h3> Change # of Days: </h3>
	    <form method="POST">
  	    <label for="numDays"></label>
  		<select id="numDays" name="numDays">
		    <option value="1">1</option>
		    <option value="7">7</option>
		    <option value="14">14</option>
		    <option value="31">31</option>
		</select>
  		<input class="numDaysSubmit" type="submit">
	    </form>
	<br>
	<br>
	<hr>
	<h3> HISTORICAL OUTSIDE DATA </h3>
	<hr>
	<img src="/plot/temp_roof" alt="Image Placeholder">
	<img src="/plot/hum_roof" alt="Image Placeholder">
	<h4> Time given as YYYY-MM-DD or MM-DD Military Time for 1-day plot </h4> 
	<hr>
	<h3> HISTORICAL INSIDE DATA </h3>
	<hr>
	<img src="/plot/temp_home" alt="Image Placeholder">
	<img src="/plot/hum_home" alt="Image Placeholder">
	<h4> Time given as YYYY-MM-DD or MM-DD 24-hour clock for 1-day plot </h4> 
    </div>
    
    <script src="../static/raphael-2.1.4.min.js"></script>
    <script src="../static/justgage.js"></script>
    <script>
	var g1, g2, g3, g4;
	document.addEventListener("DOMContentLoaded", function(event) {
	    g1 = new JustGage({
		id: "g1",
		value: {{temp_roof}},
		valueFontColor: "black",
		min: -20,
		max: 125,
		title: "Temperature",
		label: "Fahrenheit"
	});
	    g2 = new JustGage({
		id: "g2",
		value: {{hum_roof}},
		valueFontColor: "black",
		min: 0,
		max: 100,
		title: "Humidity",
		label: "%"
	});
	    g3 = new JustGage({
		id: "g3",
		value: {{temp_home}},
		valueFontColor: "black",
		min: -20,
		max: 125,
		title: "Temperature",
		label: "Fahrenheit"
	});
	    g4 = new JustGage({
		id: "g4",
		value: {{hum_home}},
		valueFontColor: "black",
		min: 0,
		max: 100,
		title: "Humidity",
		label: "%"
	});
      });
   </script>
   <script>
      function GetDesiredTemperatureValue(value){
          document.getElementById('desiredTemperatureValue').value=value + "° F";
      }
      function SetDesiredTemperatureValue(value){
          document.getElementById('desiredTemp').value=value;
          document.getElementById('desiredTemperatureValue').value=value + "° F";
      }
  </script>
   <script>
    Chart.defaults.global.animationSteps = 50;
    Chart.defaults.global.tooltipYPadding = 16;
    Chart.defaults.global.tooltipCornerRadius = 0;
    Chart.defaults.global.tooltipTitleFontStyle = "normal";
    Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
    Chart.defaults.global.animationEasing = "easeOutBounce";
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.scaleLineColor = "black";
    Chart.defaults.global.scaleFontSize = 16;
   
    window.onload = loadAll();
    
    function loadAll(){
    
        SetDesiredTemperatureValue({{ desired_temp }});
        generateGraph();
    }

    function generateGraph(){

        var currentDate = new Date();
        var commonTimes = ["12am", "1am", "2am", "3am", "4am", "5am", "6am", "7am", "8am", "9am", "10am", "11am", "12pm", "1pm", "2pm", "3pm", "4pm", "5pm", "6pm", "7pm", "8pm", "9pm", "10pm", "11pm"]
        var labelSet = [];
        var startingHour = currentDate.getHours();
        var temperatureData = {{ temperatures }};

        for(i = 0; i < 24; i++)
        {
            if(i % 4 == 3)
            {
                var index = startingHour + i;
                if(index >= 24)
                    index = index - 24;
                labelSet.push(commonTimes[index]);
            }
            else
                labelSet.push("");
        }

        var forecastChartData = {
            labels : labelSet,
            datasets : [
            {
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                backgroundColor: "rgba(255,165,0, 0.5)",
                borderColor:"rgba(255,165,0, 1)",
                fill: true,
                bezierCurve : false,
                data : temperatureData
            }]
        }

        //Get graph canvases
        var forecastGraph = document.getElementById("forecastChart").getContext("2d");

        steps = 10
        max = 10

        // draw line graphs
        var LineChartDemo = new Chart(forecastGraph, {
            type: 'line',
            data: forecastChartData,
            fill: true,
            options:{
                legend:{
                    display: false
                },
                gridLines: {
                  display: false  
                }
            },
            scaleOverride: true,
            scaleSteps: steps,
            scaleStepWidth: Math.ceil(max / steps),
            scaleStartValue: 0,
            scaleShowVerticalLines: false,
            scaleShowGridLines : false,
            barShowStroke : true,
            scaleShowLabels: true,
            bezierCurve: false,
        });  
    }
  </script>

{% endblock %}