{% extends "base.html" %}

{% block content %}
<section id="newInterval">
    <div class="container py-5 mx-auto">
        <div class="row">
            <div class="col">
                <p>New Interval Window</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{{url_for('interval_window')}}" class="btn-success">Add</a>
                <a href="{{url_for('interval_window')}}" class="btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</section>


{% endblock %}

